body{
    background-color: rgb(68, 66, 66);
}
.table-container{
    padding-top: px;


}

table{

    background-color: #ffffff;
    height: auto;
    width: 100%;
    margin-top: 100px;

}

th{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    padding-right: 200px;
    width: 50%;


}

td{
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    
    
}
#search{
    width: 500PX;
    margin-left: 150px;
    
}
.col{
   
    margin-right:-10px;
}
.material-icons{
    margin-top: 8px;
    color: white;
    text-decoration: none   ;
}